@if (SecretFriendly == null) 
{
    <div class="form-container">
        <h3>Pon tu id y tu clave secreta:</h3>
        <input type="number" [(ngModel)]="userId" name="inputField" placeholder="Ingresa tu ID" required />
        <input type="text" [(ngModel)]="key" name="inputField" placeholder="Ingresa tu clave" required />
        <input type="number" [(ngModel)]="roundId" name="inputField" placeholder="Ingresa la ronda a consultar" required />
        <button class="btnCreate" (click)="consultar()">Consultar</button>
    </div>
}
@else
{
    @if (code!=200) 
    {
        <p>Error: {{ mensaje}}</p>
    }@else {
        <div class="mensaje">
            <p>Tu amigo secreto es <b class="fancy-highlight">{{ SecretFriendly.assigments.secretSanta.name }}</b> <br> 
                y desea los siguientes regalos: {{regalo}}</p>    
        </div>
    }
}