.form-container {
    max-width: 350px;
    margin: auto;
    border-radius: 5px;
  }
  
  input {
    min-width: 250px;
    max-width: 100%;
    padding: 9px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  textarea{
    min-width: 250px;
    max-width: 100%;
    padding: 9px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }

  .btnCreate {
    min-width: 250px;
    max-width: 100%;
    padding: 9px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .btnCreate:hover {
    background-color: #218838;
  }
  
  .btnAceptar {
    max-width: 100%;
    padding: 9px;
    background-color: #32bac4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    text-decoration: none;
  }
  
  .btnAceptar:hover {
    background-color: #217888;
  }

  h3 {
    text-align: center;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
  }

  .mensaje {
    font-family: 'Poppins', sans-serif; /* Tipografía moderna y atractiva */
    font-size: 2rem; /* Tamaño de texto base */
    color: #ffffff; /* Texto blanco */
    background: linear-gradient(90deg, #131313b7, #000000c7); /* Fondo degradado llamativo */
    padding: 15px 20px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Sombra para dar profundidad */
    text-align: center; /* Centrar el texto */
    margin: 10px 0; /* Espaciado vertical */
    transition: transform 0.3s ease, background 0.3s ease; /* Efecto suave al interactuar */
  }
  
  .mensaje :hover {
    transform: scale(1.05); /* Aumenta ligeramente al pasar el cursor */
    background: linear-gradient(90deg, #ff758c, #ff7eb3); /* Cambia el degradado */
  }
  
  .fancy-highlight {
    color: white;
    font-size: 2.3rem;
    background-color: #007bff;
    padding: 4px 6px;
    border-radius: 4px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
  }

  @media (max-width: 768px) {
    .mensaje  {
      font-size: 1.5rem; /* Reduce el tamaño de texto en dispositivos móviles */
      padding: 10px 15px; /* Ajusta el espaciado interno */
    }
    .fancy-highlight {
      font-size: 1.8rem; 
      padding: 3px 5px;
    }
  }
  
  @media (max-width: 480px) {
    .mensaje  {
      font-size: 1.3rem; 
      padding: 8px 10px;
    }
    .btnAceptar {
      padding: 7px ;
      font-size: 1rem;
    }
    .fancy-highlight {
      font-size: 1.5rem; 
      padding: 2px 4px;
    }

  }
  
