.form-container {
    max-width: 350px;
    margin: auto;
    border-radius: 5px;
  }
  
  input {
    min-width: 250px;
    max-width: 100%;
    padding: 9px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    min-width: 250px;
    max-width: 100%;
    padding: 9px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }